/*** Responsive ***/

// 主色
$mainColor : #e86b48;

// 辅助颜色
$assistCyan : #3fb5c3;
$assisBlue : #6498ed;
$assisGreen : #5fbc80;
$assisPink : #fdf4f2;
$assisGray : #edf6f7;

// 中性色（用于表单间隔线、文字背景）
$bigGray : #e9e5e4;
$middleGray : #e6e6e6;
$smallGray : #ecedf1;

// 文字颜色
$fontBigGray : #3fb5c3;
$fontMiddleGray : #6c6b6b;
$fontSmallGray : #a8a7a6;
$fontWhite : #fff;
$fontRed : #ff0000;
